<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/layout :: layout}">
    <body th:fragment="content">    
        <div class="card mt-2">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title"><i class="fa-solid fa-user"></i> Listagem de Pessoas</h5>
                <a class="btn btn-success" href="/pessoa/create"><i class="fa-solid fa-plus"></i> Adicionar</a>
                    </div>
                        <div class="card-body">
                            <table id="tabela" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pessoa: ${pessoas}">
                                        <td th:text="${pessoa.id}"></td>></td>
                                        <td th:text="${pessoa.nome}"></td>></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-light" th:href="@{/pessoa/update/{id}(id=${pessoa.id})}"><i class="fa-solid fa-pen-ruler"></i> Alterar</a>
                                                <a class="btn btn-light" th:href="@{/pessoa/vizualizar/{id}(id=${pessoa.id})}"><i class="fa-solid fa-magnifying-glass"></i> Visualizar</a>
                                                <a class="btn btn-light" th:href="@{/pessoa/remover/{id}(id=${pessoa.id})}"><i class="fa-solid fa-xmark"></i> Remover</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        </div>

            <script type="text/javascript">
            $(document).ready(function (){
                $("#tabela").DataTable();
            });
        </script>  
    </body>
</html>